   
   <!-- Error messages -->
            {% for field in form  %}
                {% if field.errors %}
                    <div class="col-12">
                        <span class="fw-bold"> {{field.label_tag}} </span>
                        {% for error in field.errors %}
                        <span class="text-danger"> {{error}} </span>
                        {% endfor %}
                    </div>
                {% endif %}
               
            {% endfor %}
            {% comment %} none field error {% endcomment %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                        <span class="text-danger"> {{error}} </span>
                        {% endfor %}
                    </div>
                {% endif %}
                {% comment %} success message {% endcomment %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}">
                        <span class="{% if message.tags == 'success' %} text-success {% else %} text-danger {% endif %}"> {{message}} </span>
                    </div>
                        {% endfor %}
                {% endif %}
          